/* Empty. Add your own CSS if you like */

/*Header Styles*/

h1   {
	font-size: 36px;
	color: #ffffff;
	text-align: center;
}


/* Page Styles */

body {
    background-image: url("img/ramp.jpg");
    background-color: #00000;
}
}