/* Empty. Add your own CSS if you like */

/*Header Styles*/

.h1   {
	font-size: 36px;
	color: #ffffff;
	text-align: center;
}


/* Page Styles */

.home {
   /*background-image: url("img/ramp.jpg") no-repeat center;*/
    position: absolute;
    background-color: black;
  
}

.map {
height:100%;
width:100%;
}
